<header class="navbar">
  <div class="nav-left">
    <a routerLink="/">
      <img src="assets/img/logo-puntos-verdes.png" class="logo-img" />
    </a>
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="nav-center" [class.active]="menuOpen">
    <div class="menu-links">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Inicio</a>
      <a routerLink="/servicios" routerLinkActive="active" (click)="closeMenu()">Servicios</a>
      <a routerLink="/usuarios" routerLinkActive="active" (click)="closeMenu()">Usuarios</a>
      <a routerLink="/estadisticas" routerLinkActive="active" (click)="closeMenu()">Estadísticas</a>
      <a routerLink="/recompensas" routerLinkActive="active" (click)="closeMenu()">Recompensas</a>
    </div>

    <div class="auth-links">
      <a class="btn-nav" routerLink="/contacto" (click)="closeMenu()">
        <i class="fa-solid fa-envelope"></i> Contacto
      </a>
      <a class="btn-nav" routerLink="/signup" (click)="closeMenu()">
        <i class="fa-solid fa-user-plus"></i> Register
      </a>
      <a class="btn-nav" routerLink="/login" (click)="closeMenu()">
        <i class="fa-solid fa-user"></i> Acceder
      </a>
    </div>
  </div>
</header>
