<aside class="sidebar-container" [ngClass]="{ open: isOpen }">
  <div class="sidebar-header">
    <img src="assets/img/dashboard-logo-puntos-verdes.png" alt="Logo" class="sidebar-logo" />
  </div>

  <ul class="sidebar-menu">
    <li routerLink="/admin/inicio" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-id-card"></i> Perfil
    </li>
    <li routerLink="/admin/entregas" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-seedling"></i> Puntos Verdes
    </li>
    <li routerLink="/admin/rutas" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-chart-line"></i> Reportes
    </li>
    <li routerLink="/admin/incidencias" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-circle-question"></i> Ayuda
    </li>
    <li routerLink="/admin/perfil" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-leaf"></i> Acerca de
    </li>
  </ul>
  
</aside>
