<aside class="sidebar-container" [ngClass]="{ open: isOpen }">
  <div class="sidebar-header">
    <a routerLink="../"><img src="assets/img/logo-puntos-verdes-v2.png" class="sidebar-logo" /></a>
  </div>

  <ul class="sidebar-menu">
    <!-- INICIO -->
    <li class="section-title">MENÚ</li>
    <li>
      <a routerLink="/admin/inicio" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-house"></i> Inicio
      </a>
    </li>
    <li>
      <a routerLink="/admin/perfil" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-user"></i> Perfil
      </a>
    </li>
    <li>
      <a routerLink="/admin/ranking" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-trophy"></i> Ranking
      </a>
    </li>

    <!-- GESTIÓN -->
    <li class="section-title">GESTIÓN</li>
    <li>
      <a routerLink="/admin/usuarios" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-users"></i> Usuarios
      </a>
    </li>
    <li>
      <a routerLink="/admin/entregas" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-boxes-packing"></i> Entregas
      </a>
    </li>
    <li>
      <a routerLink="/admin/canjes" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-retweet"></i> Canjes
      </a>
    </li>

    <!-- ADMINISTRACIÓN -->
    <li class="section-title">ADMINISTRACIÓN</li>
    <li>
      <a routerLink="/admin/puntos-verdes" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-seedling"></i> Puntos Verdes
      </a>
    </li>
    <li>
      <a routerLink="/admin/campanias" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-bullhorn"></i> Campañas
      </a>
    </li>
    <li>
      <a routerLink="/admin/recompensas" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-gift"></i> Recompensas
      </a>
    </li>

    <!-- CONTROL -->
    <li class="section-title">CONTROL</li>
    <li>
      <a routerLink="/admin/incidencias" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-triangle-exclamation"></i> Incidencias
      </a>
    </li>
    <li>
      <a routerLink="/admin/reportes" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-chart-line"></i> Reportes
      </a>
    </li>

    <!-- SALIR -->
    <li class="section-title">SALIR</li>
    <li>
      <a href="#">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
      </a>
    </li>
  </ul>
</aside>
