<aside class="sidebar-container" [ngClass]="{ open: isOpen }">
  <div class="sidebar-header">
    <a routerLink="../"><img src="assets/img/logo-puntos-verdes-v2.png" class="sidebar-logo" /></a>
  </div>

  <ul class="sidebar-menu">
    <!-- INICIO -->
    <li class="section-title">MENÚ</li>
    <li>
      <a routerLink="/ciudadano/inicio" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-house"></i> Inicio
      </a>
    </li>
    <li>
      <a routerLink="/ciudadano/perfil" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-user"></i> Perfil
      </a>
    </li>
    <li>
      <a routerLink="/ciudadano/ranking" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-trophy"></i> Ranking
      </a>
    </li>

    <!-- ACTIVIDADES -->
    <li class="section-title">ACTIVIDADES</li>
    <li>
      <a routerLink="/ciudadano/campanias" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-bullhorn"></i> Campañas
      </a>
    </li>
    <li>
      <a routerLink="/ciudadano/puntos-verdes" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-seedling"></i> Puntos Verdes
      </a>
    </li>
    <li>
      <a routerLink="/ciudadano/entregas" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-boxes-packing"></i> Mis Entregas
      </a>
    </li>

    <!-- RECOMPENSAS -->
    <li class="section-title">PREMIOS</li>
    <li>
      <a routerLink="/ciudadano/recompensas" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-gift"></i> Recompensas
      </a>
    </li>

    <!-- SOPORTE -->
    <li class="section-title">SOPORTE</li>
    <li>
      <a routerLink="/ciudadano/ayuda" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-circle-question"></i> Ayuda
      </a>
    </li>
    <li>
      <a routerLink="/ciudadano/acerca" routerLinkActive="active" (click)="close()">
        <i class="fa-solid fa-leaf"></i> Acerca de
      </a>
    </li>

    <!-- SALIR -->
    <li class="section-title">SALIR</li>
    <li>
      <a href="#">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
      </a>
    </li>
  </ul>
</aside>
