<aside class="sidebar-container" [ngClass]="{ open: isOpen }">
  <div class="sidebar-header">
    <img src="assets/img/logo-puntos-verdes-v2.png" class="sidebar-logo" />
  </div>

  <ul class="sidebar-menu">
    <!-- INICIO -->
    <li class="section-title">MENÚ</li>
    <li routerLink="/ciudadano/inicio" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-house"></i> Inicio
    </li>
    <li routerLink="/ciudadano/perfil" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-user"></i> Perfil
    </li>
    <li routerLink="/ciudadano/ranking" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-trophy"></i> Ranking
    </li>

    <!-- ACTIVIDADES -->
    <li class="section-title">ACTIVIDADES</li>
    <li routerLink="/ciudadano/campanias" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-bullhorn"></i> Campañas
    </li>
    <li routerLink="/ciudadano/puntos-verdes" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-seedling"></i> Puntos Verdes
    </li>
    <li routerLink="/ciudadano/entregas" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-boxes-packing"></i> Mis Entregas
    </li>

    <!-- RECOMPENSAS -->
    <li class="section-title">PREMIOS</li>
    <li routerLink="/ciudadano/recompensas" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-gift"></i> Recompensas
    </li>

    <!-- SOPORTE -->
    <li class="section-title">SOPORTE</li>
    <li routerLink="/ciudadano/ayuda" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-circle-question"></i> Ayuda
    </li>
    <li routerLink="/ciudadano/acerca" routerLinkActive="active" (click)="close()">
      <i class="fa-solid fa-leaf"></i> Acerca de
    </li>

    <li class="section-title">SALIR</li>
    <li>
      <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión
    </li>

  </ul>
</aside>