<div class="admin-layout">
  <!-- Overlay oscuro -->
  <div
    class="overlay"
    [class.show]="sidebarOpen"
    (click)="toggleSidebar()"
  ></div>

  <!-- Sidebar -->
  <app-admin-sidebar
    [isOpen]="sidebarOpen"
    (closeSidebar)="toggleSidebar()"
  ></app-admin-sidebar>

  <!-- Sección principal -->
  <div class="main-section">
    <app-admin-navbar
      (sidebarToggle)="toggleSidebar()"
      class="navbar"
    ></app-admin-navbar>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
